@charset "utf-8";
/* CSS Document */


header {
	background-color: #b84c42;
	border-bottom: 5px solid white;
}

body {
	margin: 0;
	padding-top: 0px;
}
/* Navegador*/

.Cabecera {
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px;
	margin: 0;
	width: 100%;
}	

.cabeza-hijo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.cabeza-hijo .logo {
	width: 6vw;
	height: auto;
	/* padding: 2vh; */
	border-radius: 50%;
}

.a1 {
	padding: 2vw;
}

ul {
	display: flex;
	flex-direction: row;
	/* padding: 10px 0px 10px 0px; */
	margin: auto;
	text-align: center;
	align-items: center;
}

li {
	list-style: none;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	font-size: 1.3vw;
	text-transform: uppercase;
	font-family: Montserrat;
	font-weight: bold;
	color: White;
	display:inline-block;
}

 .a2 {
	text-decoration: none;
	color: white;
	padding: 0px 2vw;
	/*font-size: 1.3vw; */
}

/**/
header:has(li:hover) {
	background-color: white;
}

header:has(li:hover) li a {
	color: #8b1813;
}

li:hover {
	transform: scale(1.2);
	transition: transform 0.5s ease-in-out;
	
}

.cabeza-hijo:has(li:hover) img.logo {
	box-shadow: #69100c 0px 2px 10px;
}

/*quienes somos*/

.quienes {
	width: 100%;
	height: auto;
	font-size: 2vw;
	font-family: montserrat;
	align-items: center;
	text-align: center;
}

.q1{
	font-size: 4vw;
	padding: 0;
	margin: 3vw;
	color: #8b1813;

}
.pq1 {
	text-align:justify;
	padding: 1vw 4vw;
	margin: 0;
	color: #8b1813;
	margin-bottom: 2vw;
}

/*Mision y vision*/

.v1 {
	display: flex;
}

.mision {
	width: 50%;
}

.vision {
	width: 50%;
}

.mision h3 {
	color: #b84c42;
	text-align: center;
	margin-bottom: 0;
}

.vision h3 {
	color: #b84c42;
	text-align: center;
	margin-bottom: 0;
}

.mp1 {
	text-align: justify;
	padding: 2vw;
	margin: 0;
	color: #8b1813;
}

.vp1 {
	text-align: justify;
	padding: 2vw;
	margin: 0;
	color: #8b1813;
}

.mision img {
	width: 35vw;
	margin-top: 2vw;
	margin-bottom: 2vw;
	/* border: 2px solid #8b1813; */
	border-radius: 5%;
	box-shadow:0 5px 10px #69100c;
}

.vision img {
	width: 35vw;
	margin-top: 2vw ;
	margin-bottom: 2vw;
	/* border: 2px solid #8b1813; */
	border-radius: 5%;
	box-shadow:0 5px 10px #69100c;
}

.vision img:hover {
	transform: scale(1.03);
	transition: transform 0.5s ease-in-out;
}

.mision img:hover {
	transform: scale(1.03);
	transition: transform 0.5s ease-in-out;
}

/* Fundacion */
.Fundacion {
	width: 100%;
	height: auto;
	font-size: 2.5vw;
	font-family: montserrat;
	align-items: center;
	text-align: center;
	background-color: #69100c;
	color: white;
	margin-top: 2vw;
}

.Fundacion h4 {
	font-size: 3vw;
	padding: 2vw;
}

.Fundacion p {
	padding: 0 3vw;
}

.Fundacion img {
	width: 40vw;
	height: auto;
	border-radius: 2vw;
	margin: 2vw 0 3vw 0;
}
.Fundacion img:hover {
	box-shadow: 0 0 10px white;
}

.Fundadores {
	display: flex;
	align-items: flex-start;
	padding-top: 4vw;
	background-color: white;
	font-family: Montserrat;
}

.foto1 { 
	padding-top: 2vw ;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 50%;
	color: #69100c;
	font-size: 3vw;
}

.foto1 img {
	width: 15vw;
	height: auto;
	border-radius: 1vw ;
}

.foto2 { 
	padding-top: 2vw ;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #69100c;
	font-size: 3vw;
}

.foto2 img {
	width: 15vw;
	height: auto;
	border-radius: 1vw ;
}

.foto3 { 
	padding-top: 2vw ;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #69100c;
	font-size: 3vw;
}

.foto3 img {
	width: 15vw;
	height: auto;
	border-radius: 1vw ;
}

.foto1 img:hover {
	box-shadow: 5px 7px 10px #9e9e9e;
	transform: scale(1.03);
	transition: transform 0.5s ease-in-out;
}

.foto2 img:hover {
	box-shadow: 5px 7px 10px #9e9e9e;
	transform: scale(1.03);
	transition: transform 0.5s ease-in-out;
}

.foto3 img:hover {
	box-shadow: 5px 7px 10px #9e9e9e;
	transform: scale(1.03);
	transition: transform 0.5s ease-in-out;
}

/*VALORES*/

.val {
	width: 100%;
	height: auto;
	background-color: #69100c;
	color: white;
	font-family: Montserrat;
	text-align: center;
	padding:0;
}

.val h2 {
	font-size: 3.5vw;
	padding-top: 3vw;

}

.Imagenes {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

}

.imgg {
	padding: 2vw;
	width: 100%;
	height: auto;
}

.imgg h5 {
	font-size: 2vw;
}

.imgg p	{
	text-align: center;
	font-size: 1.5vw;
}

.imgg img {
	width: 20vw;
	height: auto;
}