@charset "utf-8";
/* CSS Document */

header {
	background-color: #b84c42;
}

body {
	margin: 0;
	padding-top: 0px;
	overflow-x: hidden;
}
/**/

.Cabecera {
	display:flex;
	/* justify-content: space-between; */
	align-items: center;
	padding: 0px;
	margin: 0;
	width: 100%;
}	

.cabeza-hijo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.cabeza-hijo .logo {
	width: 6vw;
	height: auto;
	/* padding: 2vh; */
	border-radius: 50%;
}

.a1 {
	padding: 1vw;
}

ul {
	display: flex;
	flex-direction: row;
	/* padding: 10px 0px 10px 0px; */
	margin: auto;
	text-align: center;
	align-items: center;
}

li {
	list-style: none;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	font-size: 1.3vw;
	text-transform: uppercase;
	font-family: Montserrat;
	font-weight: bold;
	color: White;
	display:inline-block;
}

 .a2 {
	text-decoration: none;
	color: white;
	padding: 0px 2vw;
	/*font-size: 1.3vw; */
}

/**/
header:has(li:hover) {
	background-color: white;
}

header:has(li:hover) li a {
	color: #8b1813;
}

li:hover {
	transform: scale(1.2);
	transition: transform 0.5s ease-in-out;
	
}

.cabeza-hijo:has(li:hover) img.logo {
	box-shadow: #69100c 0px 2px 10px;
}

/**/

.Impresion {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente los hijos */
    font-family: Montserrat, sans-serif;
    background-color: #69100c;
    /* box-sizing: border-box; */
    text-align: center; 
	justify-content: center;
}

.Impresion h2 {
    font-size: 4vw;
    color: white;
    margin-bottom: 2vw;
}

.Gigantografias {
	display: flex;
	flex-direction: column;
    width: 100%;
	background-color: white;
	justify-content: center;
}

.Gigantografias2 {
	display: flex;
	justify-content:space-evenly;
	
}

.Gigantografias h3, .Viniles h3, .Foam h3 {
    font-size: 3vw;
    color: #b84c42;
}

.banner {
    background-color: #b84c42;
    width: 40%;
    margin-bottom: 1.5vw;
    display: flex;
    flex-direction: column;
	align-items: center;
    justify-content: center;
	border-radius: 1vw;
}

.banner h4 {
    font-size: 2.5vw;
    color: white;
	margin: 0;
}

.banner p {
    color: white;
    margin-bottom: 0.5vw;
}

.banner img {
    width: 10vw;
    height: auto;
    border-radius: 4px;
}
