@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	padding-top: 0px;
}

header {
	background-color: #b84c42;
	border-bottom: 5px solid white;
}

/**/

.Cabecera {
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px;
	margin: 0;
	width: 100%;
}	

.cabeza-hijo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.cabeza-hijo img {
	width: 6vw;
	height: auto;
	padding: 2vh;
}


ul {
	display: flex;
	flex-direction: row;
	/* padding: 10px 0px 10px 0px; */
	margin: auto;
	text-align: center;
	align-items: center;
}

li {
	list-style: none;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	font-size: 1.3vw;
	text-transform: uppercase;
	font-family: Montserrat;
	font-weight: bold;
	color: White;
	display:inline-block;
}

a {
	text-decoration: none;
	color: white;
	padding: 0px 2vw;
	font-size: 1.3vw;
}

/**/
header:has(li:hover) {
	background-color: white;
}

header:has(li:hover) li a {
	color: #8b1813;
}

li:hover {
	transform: scale(1.2);
	transition: transform 0.5s ease-in-out;
	
}


/* cuerpo */




.formularioc {
	margin: 2% 4%;
	border: 1px solid black;
	padding: 4% 2%;
	text-align: center;
	font-family: Montserrat;
}

.forms {
	display: flex;
	flex-direction: column;
}

input {
	width: 30%;
	height: auto;
	padding: 0.5% 0.5%;
	border-radius: 1vh;
	border: 1px solid #b84c42;

}

#respuesta1 {
	text-align: center;
	width: 5%;
	height: auto;
	padding: 1px;
	margin: 0px;
}

#respuesta2 {
	text-align: center;
	width: 5%;
	height: auto;
	padding: 1px;
	margin: 0px;
}