@charset "utf-8";
/* CSS Document */

html, body {
	overflow-x: hidden;
	width: 100%;
}

body {
	margin: 0;
	padding-top: 0px;
}

header {
	background-color: #ffffff;
}

/* @media (max-width: 768px) {
.cabecera-contenido {
    flex-direction: column;
    align-items: center;
    text-align: center;
  } */

/**/

.Cabecera {
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px;
	margin: 0;
	width: 100%;
}	

.cabeza-hijo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0 200px;
}

.cabeza-hijo .logo {
	width: 60px;
	height: auto;
	/* padding: 2vh; */
	border-radius: 50%;
}

.a1 {
	padding: 20px;
}

.ul1 {
	display: flex;
	flex-direction: row;
	/* padding: 10px 0px 10px 0px; */
	margin: auto;
	text-align: center;
	align-items: center;
}

li {
	list-style: none;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	text-transform: uppercase;
	font-family: Montserrat;
	font-weight: bold;
	display:inline-block;
}

.a2 {
	text-decoration: none;
	color: #b84c42;
	padding: 0px 25px;
	/*font-size: 1.3vw; */
}

/**/
header:has(li:hover) {
	background-color: white;
}

header:has(li:hover) li a {
	color: #8b1813;
}

.cabeza-hijo li:hover {
	transform: scale(1.2);
	transition: transform 0.5s ease-in-out;
	
}

/* .cabeza-hijo:has(li:hover) img.logo {
	box-shadow: #69100c 0px 2px 10px;
} */

/* carrusel */
.padre_carrusel{

	align-items: center;
	justify-content: center;
}

.Carrusel{
	width: 100%;
}

.carru {
	display: flex;
	width: 70%;
	height: auto;
	padding: 0%;
	margin: 0%;
    animation: carouselAnim 60s infinite;
}

.li1 {
	/* width:70%;
	height: auto; */
	flex-shrink: 0;
}

.imgc {
	width: 1000px;
	height: auto;
	/* display: block;
	object-fit: cover; */
}

@keyframes carouselAnim {
0%   { transform: translateX(0); }   
10%  { transform: translateX(0); }    
15%  { transform: translateX(-100%); }     
25%  { transform: translateX(-100%); }
30%  { transform: translateX(-200%); }     
40%  { transform: translateX(-200%); }
45%  { transform: translateX(-300%); }     
55%  { transform: translateX(-300%); }
60%  { transform: translateX(-200%); }  
70%  { transform: translateX(-200%); }
75%  { transform: translateX(-100%); }  
85%  { transform: translateX(-100%); }
90%  { transform: translateX(0); }      
100% { transform: translateX(0); }     
}

/* Cuerpo*/
.panel1 {
	width: 100%;
	/* min-height: 40vh; */
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url("imagenes/base 2 fondo.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	justify-content: center;
}

.panel1 h2 {
	color: #8b1813;
	font-family: Montserrat;
	font-weight: bolder;
	font-size:4vw;
	margin: 4% 0%;
}

.introduccion{
	font-family: Montserrat;
	color: #b84c42;
	font-display: swap;
	padding: 0 20%;
	font-size: 1.9vw;

	text-align: justify;
}

.leer {
	padding: 1vw 2vw;
	margin: 3%;
	background-color: #8b1813;
	color: white;
	border: none;
	border-radius: 5%;
	cursor: pointer;
	font-family: Montserrat;
	font-weight: bold;
	font-size: 1.8vw;
}



/**/
.panel2 {
	width: 100%;
	height: auto;
}

.panel2 h2 {
	color: #8b1813;
	font-family: Montserrat;
	font-weight: bolder;
	font-size:4vw;
	margin: 4% 0%;
	text-align: center;
}

.subpanel {
	display: flex;
	align-items:stretch;
}

.I1 {
	width: 50%;
	height: 27vw;
	background:linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, #69100c 100%),
                url('imagenes/KYMC1.png');
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	text-decoration: underline;
}

.D1 {
	width: 50%;
	height: 27vw;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, #69100c 100%),
                url('imagenes/KYCM2.png');
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	text-decoration: underline;
}

.I1 h3 {
	text-align: center;
	font-family: Montserrat;
	font-size: 4vw;
}

.D1 h3 {
	text-align: center;
	font-family: Montserrat;
	font-size: 15px;
}



/**/

.Porta {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:center;
	background-color: #8b1813;
	min-height: 40vh;
	width: 100%;
}


.Porta h3 {
	text-align: center;
	color: white;
	font-family: Montserrat;
	font-size: 4vw;

}

  /* Ajusta la imagen dentro de portafolio */

.compu {
	width: 400px;
	height: auto;
	margin: 2% 0%;
}

.compu:hover {
	transform: scale(1.02);
	transition: transform 0.5s ease-in-out;
}


/*pie*/

/* footer {
    flex-direction: column;
    text-align: center;
}

.foot {
    flex-direction: column;
    align-items: center;
}

.imagen-2 {
    width: 80px;
    margin-bottom: 10px;
}

.footer1 {
    margin: 10px 0;
} */

footer {
	background-color:White;
	text-align: center;
	align-items:center;
	display:flex;
	justify-content:space-between;
	padding: 20px;
}

.foot {
	width: 100%;
	text-align: left;
	display:inline-flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-between;
	padding: 0px;
}


.imagen-2 {
	width: 10%;
	margin: 0px 5%;
}

.footer1 {
	font-size: 22px;
	color: #8b1813;
	font-weight: bold;
	padding: 0px;
	margin: 0px 20px;
	font-family: 'Montserrat', sans-serif;
}

.letras {
	font-family: "Montserrat";
	font-size: 14px;
	font-weight:400;
	line-height: 1;	
}
