@charset "utf-8";
/* CSS Document */

header {
	background-color: #b84c42;
	border-bottom: 5px solid white;
}

body {
	margin: 0;
	padding-top: 0px;
}
/**/

.Cabecera {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	max-width: 1200px;
	margin: 0 auto;
}

.cabeza-hijo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.cabeza-hijo img {
	width: 10%;
	padding: 1%;
}

nav {
	margin-left: auto;
	display: flex;
	align-items: center;
}
	
ul {
	padding: 10px 0px 10px 0px;
	margin: 0px;
	text-align: center;
	
}

li {
	list-style: none;
	text-decoration: none;
	margin: 0px;
	padding: 0px 30px;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Montserrat;
	color: White;
	display: inline-block;
}

a {
	text-decoration: none;
	color: white;
}
